; This is a sample configuration file
; Setup credentials here!

SENDGRID_USER ='admin@tokbox.com'
SENDGRID_PW ='t0kb0x!!'
MYSQL_URL = 'mysql://root:root@localhost:8889/tokbox'
OPENTOK_KEY = '44971932'
OPENTOK_SECRET ='64c1e0044b44d1625a473ae7ac4ce06e5a131157'
