/*
 * Variables
 */

@header-height: 40px;

@sidebar-width: 335px;

@course-info-height: 60px;
@course-info-details-color: #ecf0f1;

@classroom-color: #363636;

@footer-height: 80px;
@footer-color: #34495e;

/*
 * Header
 */

#header {
  height: @header-height;

  .logo {
    float: left;
  }

  .user {
    float: right;
  }

}

/*
 * Course Info
 */

#course-info {
  height: @course-info-height;
  background-color: @course-info-details-color;
}


/*
 * Sidebar
 */

#sidebar {
  position: fixed;
  top: @header-height + @course-info-height;
  width: @sidebar-width;
  bottom: @footer-height;
  overflow: auto;

  #sidebarTitle {
    display: block;
    width: @sidebar-width;
    height: @course-info-height;
  }

  #sidebarNav {
    width: @sidebar-width;
  }
}



/*
 * Classroom
 */

.classroom {
  margin-left: @sidebar-width;
  background-color: black;
}



/*
 * footer
 */

#pageFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: @footer-height;
  background-color: @footer-color;
  text-align:center;
  img {
    height: 100%;
  }
}
