<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>webrtcexpo14-audiodetection</title>

  <!-- substitute:css -->
</head>
<body ng-app="app">

  <header id="header">
    <div class="headerLayoutContainer">
      <img class="logo" src="images/logo.png" alt="SOMA University Logo" />
      <img src="images/user.png" alt="" class="user" />
    </div>
  </header>

  <section id="sidebar">
    <img id="sidebarTitle" src="images/sidebarTitle.png" alt="" />
    <img id="sidebarNav" src="images/sidebarNav.png" alt="" />
  </section>

  <section id="mainContent">

    <img id="courseInfo" src="images/courseInfo.png" alt="" />

    <div ng-controller="OpenTokCtrl" class="classroom">

        <ot-layout props="{animate:true, bigFirst:false}">
            <ot-subscriber ng-repeat="stream in streams"
                stream="stream"
                props="{style: {nameDisplayMode: 'off', buttonDisplayMode: 'off'}}">
            </ot-subscriber>
            <ot-publisher id="publisher"
                apiKey="<%= apiKey %>"
                props="{style: {nameDisplayMode: 'off', buttonDisplayMode: 'off'}, resolution: '1280x720', frameRate: 30}">
            </ot-publisher>
        </ot-layout>

        <div class="bottomBar">
          <div class="actions" />
            <button name="screenshare" /> <!-- this doesn't do anything -->
            <button name="whiteboard" />
            <button name="discussion" />
          </div>
          <div class="settings">
            <button name="chat" /> <!-- this doesn't do anything -->
            <button name="mute" />
          </div>
        </div>

    </div>

  </section>

  <section class="course"></section>

  <footer id="pageFooter">
    <img src="images/footer.png" alt="">
  </footer>

  <!-- substitute:livereload -->

  <script type="text/javascript" src="opentok/TB.js"></script>
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="bower_components/opentok-layout-js/opentok-layout.min.js"></script>
  <script type="text/javascript" src="bower_components/opentok-angular/opentok-angular.min.js"></script>

  <!-- substitute:js -->
  <!-- Google Analytics -->
  <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','<!-- substitute:analytics -->');ga('send','pageview');
  </script>
</body>
</html>
