<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>webrtcexpo14-audiodetection</title>

  <link href="bower_components/opentok-whiteboard/opentok-whiteboard.css" rel="stylesheet" />
  <!-- substitute:css -->
</head>
<body ng-app="app">

  <header id="header">
    <img class="logo" src="images/logo.png" alt="SOMA University Logo" />
    <img class="user" src="images/user.png" alt="" />
  </header>

  <section id="course-info">
    <img src="images/course-title.png" />
    <img src="images/course-info.png" />
  </section>

  <section id="sidebar">
    <img id="sidebarNav" src="images/sidebarNav.png" alt="" />
  </section>

  <div ng-controller="OpenTokCtrl" class="classroom" teacher="<%= teacher %>">

      <ot-layout props="{animate:true, bigFirst:false}">
          <ot-subscriber ng-repeat="stream in streams"
              stream="stream"
              streamid="{{stream.streamId}}"
              props="{style: {nameDisplayMode: 'off', buttonDisplayMode: 'off'}}">
          </ot-subscriber>
          <ot-publisher id="publisher"
              apiKey="<%= apiKey %>"
              streamid="{{stream.streamId}}"
              props="{style: {nameDisplayMode: 'off', buttonDisplayMode: 'off'}, resolution: '1280x720', frameRate: 30}">
          </ot-publisher>
          <ot-whiteboard ng-show="showWhiteboard"
              ng-if="connected"
              width="1280"
              height="960"
              color="blue"
              lineWidth="10"
              ng-class="{OT_big: showWhiteboard}">
          </ot-whiteboard>
      </ot-layout>

      <div class="bottomBar">
        <div class="actions" />
          <button name="whiteboard" ng-click="toggleWhiteboard()"/>

          <% if (teacher) { %>
            <button name="discussion" ng-click="locked = !locked" locked="{{locked}}"/>
          <% } %>

        </div>
        <div class="settings">
          <button name="mute" />
        </div>
      </div>

  </div>

  <footer id="pageFooter">
    <img src="images/footer.png" alt="">
  </footer>

  <!-- substitute:livereload -->

  <script src="https://cdn.firebase.com/js/client/1.0.15/firebase.js"></script>
  <script type="text/javascript" src="opentok/TB.js"></script>
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="bower_components/opentok-layout-js/opentok-layout.min.js"></script>
  <script type="text/javascript" src="bower_components/opentok-angular/opentok-angular.min.js"></script>
  <script type="text/javascript" src="bower_components/opentok-whiteboard/opentok-whiteboard.min.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>

  <!-- substitute:js -->

  <!-- Google Analytics -->
  <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','<!-- substitute:analytics -->');ga('send','pageview');
  </script>
</body>
</html>
